body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.Header {
  display: flex;
  flex: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Perfil-icon {
  display: flex;
  align-items: center;
}

#Perfil-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#Perfil-icon:hover{
  width: 50px;
  height: 50px;
}

#LogOut {
  color: aqua;
  font-size: 1em;
  margin: 10px;
  cursor: pointer;
}

.Navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.NavbarItem {
  color: aqua;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border: 1px solid aqua;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
}
.NavbarItem:hover {
  color: black;
  background-color: aqua;
}

.Moedas {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#Moedas {
  width: 15px;
  height: 15px;
}

.Moedas p{
  color: white;
  margin: 5px;
}
