.GamesLists {
    display: flex;
    flex-direction: column;
}

.GamesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Genero {
    font-size: 1.5em;
    margin: 10px 0px 0px 0px;
}

.jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 150px;
    margin: 5px;
    font-family: monospace;
    font-size: 0.9rem;
    cursor: pointer;

    background-color: black;
    border: 3px solid;
    border-image: linear-gradient(
        #ff512f,
        #dd2476,
        #1c64ff
    ) 1;

    animation: rotate 2.5s ease-in infinite;
    transition: width 200ms, height 200ms;
    
}

.jogo:hover {
    width: 150px;
    height: 236px;
}

.Descricao{
    display: none;
}

.jogo:hover .Descricao{
    display: block;
    text-align: center;
    overflow-wrap: anywhere;
    overflow-y: hidden;
}


@keyframes rotate {
    50%{
        border-image: linear-gradient(
            360deg,
            #ff512f,
            #dd2476,
            #1c64ff) 1;
    }
}